.form {
  display: flex;

  width: 22%;

  flex-direction: column;
  padding: 1.2rem;
  //   border: 2px solid #000;
}

// .input-container {
//   display: flex;

//   align-items: center;
//   padding: 0.2rem 0.5rem;
//   border: 1px solid #dbd6d6;
//   margin: 0.4rem 0;
// }

// .btn {
//   margin-top: 0.3rem;
//   border: none;
//   outline: none;
//   padding: 1.2rem 2rem;
//   background-color: #fa446f;

//   &:hover {
//     background-color: #fa446edc;
//   }
// }
