// .layout-container {
//   display: grid;
//   position: relative;
//   // display="grid"
//   // gridTemplateColumns="40%  15% 15%  30%"
//   // gridTemplateRows=" 35rem 45rem"
//   // paddingY="2rem"
//   grid-template-columns: 40% 15% 15% 30%;
//   grid-template-rows: 35rem 45rem;
//   padding: 2rem 0;
// }

// .container {
//   overflow: hidden;

//   &:hover {
//     cursor: pointer;
//     // & .bgImageContainer {

//     //   transform: scale(1.1);
//     //   transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
//     // }

//     & .title {
//       opacity: 1;
//       font-weight: bold;
//     }
//   }
// }

// .c-1 {
//   grid-column: 1 / 4;
// }

// .c-2 {
//   grid-column: 4 / 5;
//   grid-row: 1 / -1;
// }

// .bgImageContainer {
//   width: 100%;
//   height: 100%;
//   background-position: center;
//   background-size: cover;

//   transition: all 1s;
// }

// .title {
//   position: absolute;
//   background-color: #fff;
//   font-size: 2rem;
//   opacity: 0;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .img-1 {
//   background-image: url('../../assets/men.jpg');
// }
// .img-2 {
//   background-image: url('../../assets/women-1.jpg');
// }
// .img-3 {
//   background-image: url('../../assets/women-2.jpg');
// }
// .img-4 {
//   background-image: url('../../assets/kid.jpg');
// }

.container {
  display: grid;

  align-content: center;
  //   grid-template-columns: repeat(
  //     6,
  //     [col-start] minmax(min-content, 20rem) [col-end]
  //   );
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2rem;
}

.grid-item {
  &-1 {
    background-color: aquamarine;

    grid-column: col-start 1 / col-end 3;
  }

  &-2 {
    background-color: royalblue;
    grid-column: col-start 4 / col-end 5;
  }

  &-3 {
    background-color: salmon;
  }

  &-4 {
    background-color: sandybrown;
  }

  &-5 {
    background-color: seagreen;
  }

  &-6 {
    background-color: slategrey;
  }

  &-7 {
    background-color: tomato;
  }

  &-8 {
    background-color: goldenrod;
  }
}
